[submodule "http"]
	path = http
	url = https://github.com/kixelated/steamcache-http.git
[submodule "dns"]
	path = dns
	url = https://github.com/kixelated/steamcache-dns.git
[submodule "sni"]
	path = sni
	url = https://github.com/kixelated/steamcache-sni.git
